In [1]:
import pandas as pd
import requests
import datetime

In [2]:
# Inizializza la lista data_list
data_list = []

# Effettua 31 chiamate all'API di Alternative.me
for i in range(204):
  # Prepara la richiesta HTTP
  url = "https://api.alternative.me/fng/?limit=204&timestamp=" + str(i)
  headers = {'Content-Type': 'application/json'}

  # Effettua la richiesta HTTP
  response = requests.get(url, headers=headers)

  # Carica i dati in formato JSON
  data = response.json()

  # Estrai il valore "value" e il timestamp
  value = data["data"][i]["value"]
  timestamp = data["data"][i]["timestamp"]

  # Aggiungi i valori "value" e "timestamp" nella lista data_list
  data_list.append((value, timestamp))

In [11]:
print(data_list[0])

('26', '1671580800')

**import dataset**

In [17]:
data = 'data/'

In [18]:
df = pd.read_csv(data + 'bitcoin.csv')
df.head()

         time       low      high      open     close        volume
0  2022-12-21  16725.78  16926.05  16896.17  16811.38  12065.325735
1  2022-12-20  16398.22  17060.86  16439.98  16897.65  34330.282352
2  2022-12-19  16273.40  16822.84  16742.33  16439.74  26856.085987
3  2022-12-18  16663.76  16875.00  16782.23  16741.16  11073.438862
4  2022-12-17  16585.64  16799.99  16634.29  16782.25  18446.683602

**join greed and fear data into dataframe**

In [19]:
# Per ogni tupla nella lista data_list
for value, timestamp in data_list:
  # Converti il timestamp in una data
  date = datetime.datetime.fromtimestamp(int(timestamp)).strftime('%Y-%m-%d')
  #date = pd.to_datetime(date)
  # Seleziona la riga del dataframe corrispondente alla data
  df.loc[df['time'] == date, 'greed_and_fear'] = value

# Stampa il dataframe aggiornato
df.head(20)

,time,low,high,open,close,volume,greed_and_fear
0,2022-12-21,16725.78,16926.05,16896.17,16811.38,12065.325735,26
1,2022-12-20,16398.22,17060.86,16439.98,16897.65,34330.282352,29
2,2022-12-19,16273.40,16822.84,16742.33,16439.74,26856.085987,29
3,2022-12-18,16663.76,16875.00,16782.23,16741.16,11073.438862,26
4,2022-12-17,16585.64,16799.99,16634.29,16782.25,18446.683602,28
5,2022-12-16,16529.53,17525.00,17359.10,16632.64,47159.863007,29
6,2022-12-15,17275.02,17856.26,17805.36,17357.96,37834.738084,31
7,2022-12-14,17660.93,18385.36,17772.98,17804.97,49295.420721,30
8,2022-12-13,17089.17,17999.99,17212.90,17773.18,38316.031725,27
9,2022-12-12,16875.83,17244.63,17085.62,17211.66,20659.657092,27
10,2022-12-11,17073.19,17271.92,17128.10,17085.21,9948.852670,26
11,2022-12-10,17093.42,17227.64,17130.49,17128.10,7860.586876,27
12,2022-12-09,17060.69,17352.62,17226.03,17130.59,20976.636999,26
13,2022-12-08,16738.00,17300.59,16839.76,17226.01,23533.234537,25
14,2022-12-07,16679.52,17140.22,17089.18,16840.00,22635.468488,29
15,2022-12-06,16904.04,17111.35,16966.05,17089.05,26693.610117,25
16,2022-12-05,16865.22,17424.59,17108.90,16966.05,33618.451090,26
17,2022-12-04,16882.86,17199.99,16889.17,17108.90,16961.108288,26
18,2022-12-03,16863.58,17158.42,17094.25,16888.53,14081.450672,27
19,2022-12-02,16791.02,17108.25,16980.07,17094.71,23096.436867,27

In [20]:
df = df.set_index('time')
df.head()

,low,high,open,close,volume,greed_and_fear
time,,,,,,
2022-12-21,16725.78,16926.05,16896.17,16811.38,12065.325735,26
2022-12-20,16398.22,17060.86,16439.98,16897.65,34330.282352,29
2022-12-19,16273.40,16822.84,16742.33,16439.74,26856.085987,29
2022-12-18,16663.76,16875.00,16782.23,16741.16,11073.438862,26
2022-12-17,16585.64,16799.99,16634.29,16782.25,18446.683602,28

**save dataset**

In [21]:
df.to_csv(data + 'bitcoin.csv')