In [71]:
import pandas as pd
import requests
import datetime
from datetime import datetime

In [72]:
# Inizializza la lista data_list
data_list = []

# Effettua 31 chiamate all'API di Alternative.me
for i in range(365):
  # Prepara la richiesta HTTP
  url = "https://api.alternative.me/fng/?limit=365&date_format=us" + str(i)
  headers = {'Content-Type': 'application/json'}

  # Effettua la richiesta HTTP
  response = requests.get(url, headers=headers)

  # Carica i dati in formato JSON
  data = response.json()

  # Estrai il valore "value" e il timestamp
  value = data["data"][i]["value"]
  timestamp = data["data"][i]["timestamp"]

  # Aggiungi i valori "value" e "timestamp" nella lista data_list
  data_list.append((value, timestamp))

In [73]:
#converto la lista in dataframe e trasformo le date in datetime
df_greeded = pd.DataFrame(data_list, columns=['greed_and_fear', 'time'])
#df_greeded["time"] = pd.to_datetime(df_greeded["time"], unit='s')

# Formatta la colonna "timestamps" come YYYY-MM-DD
#df_greeded["time"] = df_greeded["time"].dt.strftime("%Y-%m-%d")
df_greeded.head()

  greed_and_fear        time
0             29  24-12-2022
1             27  23-12-2022
2             28  22-12-2022
3             26  21-12-2022
4             29  20-12-2022

In [74]:
#"dd-mm-yyyy" in una data nel formato "yyyy-mm-dd"
def convert_date(date_str):
    date = datetime.strptime(date_str, "%d-%m-%Y")
    return date.strftime("%Y-%m-%d")

    # Usa il metodo .apply() sulla colonna "time" del DataFrame, passandogli la funzione convert_date come argomento
df_greeded["time"] = df_greeded["time"].apply(convert_date)

df_greeded.head()

  greed_and_fear        time
0             29  2022-12-24
1             27  2022-12-23
2             28  2022-12-22
3             26  2022-12-21
4             29  2022-12-20

**import dataset**

In [75]:
data = 'data/'

In [82]:
df = pd.read_csv(data + 'bitcoin.csv', index_col='time')
df.tail()

,low,high,open,close,volume,difficulty,sentiment_medio,google_trend,greed_and_fear
time,,,,,,,,,
2021-12-29,46094.02,48149.58,47542.20,46471.24,20326.321424,NaN,NaN,36.0,NaN
2021-12-28,47300.23,50720.35,50720.35,47543.09,23116.755837,NaN,NaN,36.0,NaN
2021-12-27,50480.00,52100.00,50804.33,50717.77,11596.914682,NaN,NaN,34.0,NaN
2021-12-26,49460.00,51295.33,50428.31,50801.79,6863.394738,NaN,NaN,33.0,NaN
2021-12-25,50191.84,51171.68,50852.31,50428.31,5550.571532,NaN,NaN,34.0,NaN

**join greed and fear data into dataframe**

In [83]:
df = df.drop(['greed_and_fear'], axis=1)
df = pd.merge(df, df_greeded, on='time')
df.head()

,time,low,high,open,close,volume,difficulty,sentiment_medio,google_trend,greed_and_fear
0,2022-12-20,16398.22,17060.86,16439.98,16897.65,34330.282352,3.536407e+13,0.084011,23.0,29
1,2022-12-19,16273.40,16822.84,16742.33,16439.74,26856.085987,3.460660e+13,0.068184,22.0,29
2,2022-12-18,16663.76,16875.00,16782.23,16741.16,11073.438862,3.424433e+13,0.101187,19.0,26
3,2022-12-17,16585.64,16799.99,16634.29,16782.25,18446.683602,3.424433e+13,0.053202,21.0,28
4,2022-12-16,16529.53,17525.00,17359.10,16632.64,47159.863007,3.424433e+13,0.072307,27.0,29

In [84]:
df.tail()

,time,low,high,open,close,volume,difficulty,sentiment_medio,google_trend,greed_and_fear
356,2021-12-29,46094.02,48149.58,47542.20,46471.24,20326.321424,NaN,NaN,36.0,27
357,2021-12-28,47300.23,50720.35,50720.35,47543.09,23116.755837,NaN,NaN,36.0,41
358,2021-12-27,50480.00,52100.00,50804.33,50717.77,11596.914682,NaN,NaN,34.0,40
359,2021-12-26,49460.00,51295.33,50428.31,50801.79,6863.394738,NaN,NaN,33.0,37
360,2021-12-25,50191.84,51171.68,50852.31,50428.31,5550.571532,NaN,NaN,34.0,39

In [5]:
""" # Per ogni tupla nella lista data_list
for value, timestamp in data_list:
  # Converti il timestamp in una data
  date = datetime.datetime.fromtimestamp(int(timestamp)).strftime('%Y-%m-%d')
  date = pd.to_datetime(date)
  # Seleziona la riga del dataframe corrispondente alla data
  #df.loc[df['time'] == date, 'greed_and_fear'] = value
  data_list.append((date))

# Stampa il dataframe aggiornato
#df_greed = pd.DataFrame(data_list)
#df_greed """

TypeError: cannot unpack non-iterable Timestamp object

In [85]:
df = df.set_index('time')
df.head()

,low,high,open,close,volume,difficulty,sentiment_medio,google_trend,greed_and_fear
time,,,,,,,,,
2022-12-20,16398.22,17060.86,16439.98,16897.65,34330.282352,3.536407e+13,0.084011,23.0,29
2022-12-19,16273.40,16822.84,16742.33,16439.74,26856.085987,3.460660e+13,0.068184,22.0,29
2022-12-18,16663.76,16875.00,16782.23,16741.16,11073.438862,3.424433e+13,0.101187,19.0,26
2022-12-17,16585.64,16799.99,16634.29,16782.25,18446.683602,3.424433e+13,0.053202,21.0,28
2022-12-16,16529.53,17525.00,17359.10,16632.64,47159.863007,3.424433e+13,0.072307,27.0,29

In [86]:
df.tail()

,low,high,open,close,volume,difficulty,sentiment_medio,google_trend,greed_and_fear
time,,,,,,,,,
2021-12-29,46094.02,48149.58,47542.20,46471.24,20326.321424,NaN,NaN,36.0,27
2021-12-28,47300.23,50720.35,50720.35,47543.09,23116.755837,NaN,NaN,36.0,41
2021-12-27,50480.00,52100.00,50804.33,50717.77,11596.914682,NaN,NaN,34.0,40
2021-12-26,49460.00,51295.33,50428.31,50801.79,6863.394738,NaN,NaN,33.0,37
2021-12-25,50191.84,51171.68,50852.31,50428.31,5550.571532,NaN,NaN,34.0,39

**save dataset**

In [87]:
df.to_csv(data + 'bitcoin.csv')